spring:
  application:
    name: ms-reportes

  datasource:
    url: jdbc:postgresql://localhost:5432/reportes_db
    username: admin
    password: admin123
    driver-class-name: org.postgresql.Driver
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

  cloud:
    config:
      enabled: false
    stream:
      kafka:
        binder:
          brokers: localhost:9092
      bindings:
        reservationCreated-in-0:
          destination: reservations.created
          group: ms-reportes-group

server:
  port: 8085